# Configurazione Database (lascia localhost se usi docker-compose in locale, altrimenti inserisci l'URL di Neon)
DB_URL=jdbc:postgresql://localhost:5432/omnibook
DB_USERNAME=
DB_PASSWORD=

# Cloudinary - Recupera queste chiavi dalla tua dashboard Cloudinary
# NON inserire mai i tuoi segreti reali qui, copia questo file in un file chiamato ".env"
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# JWT Authentication
JWT_SECRET=
